body, div, p, li, h1, h2, h3, h4, a {
    font-family: 'Titillium Web', '游ゴシック', sans-serif;
}
body {
    background-color: black;
}
.body-content {
    /*上書き*/
    max-width: none;
    margin: 0;
    padding: 0;
}
.informations {
    float:left;
    left:30px;
    opacity: 0.95;
    background: #191919;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,.5);
    padding: 15px;
    padding-top: 0px;
    margin-top: 15px;
    margin-left: -15px;
}
.controls {
    float:right;
    right: 20px;
    opacity: 0.95;
    background: #191919;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,.5);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-right: -8px;
}
.informations, .controls {
    position: relative;
    z-index: 5;
    color: white;
}
.informations li {
    list-style-type: none;
}
.zoombtns {
    margin-top: 35px;
}
.zoombtns #zoomin {
    float:right;
}
.controls li {
    font-weight: 500;
}
.controls a {
    font-size: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    
}
.list-inline {
    margin: 10px 0;
}
.list-inline li {
    margin: 0 10px;
}
.informations li:before {
    content: '';
    width: 20px;
    height: 20px;
	display: inline-block;
	border-radius: 100%;
	position: relative;
    left: -35px;
    top: 52px;
}
.informations #Light:before {
    background-color: orange;
}
.informations #Place:before {
    background-color: lightgreen;
}
.informations #Warp:before {
    background-color: orchid;
}
.toggle-box {
    display: none;
}
.map {
    position: absolute;
    z-index: 1;
    overflow: scroll;
    width:100%;
    height:100%;
    margin-bottom: -50px;
}
.map::-webkit-scrollbar {
    display: none;
}
.map img {
    padding-right: 1100px;
    padding-bottom: 150px;
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    filter: invert(100%);
}
#canvas {
    transform: scale(0.5); 
    position:absolute;
    padding-left: 200px;
}
hr, footer {
    display: none;
}
.form-horizontal {
    margin: 20px 0;
}
#register-type-select li:hover {
    filter: brightness(115%);
}
#cancel {
    margin-left: 10px;
}