<div class="jumbotron">
    <h1>Fujitsu-Chizai Web</h1>
    <p class="lead">Fujitsu-ChizaiのWebサイトです。</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>管理ページ</h2>
        <p>経路案内を提供するための地図データを管理します。</p>
        <p><a class="btn btn-default" href="../manager/">管理ページ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>統計ページ</h2>
        <p>経路案内を繰り返すことで蓄積する案内データを統計表示します。階や日時などの条件を指定して、特定条件下における利用者の行動を確認することができます。</p>
        <p><a class="btn btn-default" href="../statistics/">統計ページ &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>APIヘルプページ</h2>
        <p>Fujitsu-Chizai Webが公開するWeb APIの仕様は、APIヘルプページから確認することができます。</p>
        <p><a class="btn btn-default" href="../help/">APIヘルプページ &raquo;</a></p>
    </div>
</div>
