@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using FujitsuChizai.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "Fujitsu-Chizai Web API Help Page";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>Introduction</h2>
            <p>
                Fujitsu-Chizai Web APIの仕様一覧です。
            </p>
            <h2>Note</h2>
            <ul>
                <li>
                    lights エンドポイントは、PlaceMarkType が Light の情報のみを扱います。
                </li>
                <li>
                    places エンドポイントは、PlaceMarkType が Light 以外の情報を扱います。
                    Warp なども返されることに注意してください。
                </li>
                <li>
                    directions エンドポイントが提供する案内経路には、全ての PlaceMarkType の情報が含まれます。
                </li>
                <li>
                    [修正済み] <s>いくつかのエンドポイントで提供される半径 radius パラメータで指定可能な領域は、
                    処理簡単化のためX座標±radius、Y座標±radiusの正方形となります。</s>
                </li>
                <li>
                    場所IDは、PlaceMarkType に依らず全ての PlaceMark が持つ ID で、一意に固定されています。
                    場所IDに加えて、任意に設定可能な ID として、照明IDと接続IDが提供されています。
                    この Help Page 中の説明において、「 照明ID 」と記述されているIDには「 PlaceMark の LightId 」を、
                    「 接続ID 」と記述されているIDには「 PlaceMark の WarpId 」を指定してください。
                </li>
            </ul>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @{ var privateApis = new[] { "edges" }; /* 非公開APIはHelpPageに表示しない*/ }
        @foreach (var group in apiGroups.Where(x => !privateApis.Contains(x.Key.ControllerName)))
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>
